services:
  # =====================================================
  # 1. BACKEND
  # =====================================================
  social-be:
    container_name: social-be
    image: 664418987796.dkr.ecr.ap-southeast-1.amazonaws.com/liemdev/social:latest
    restart: always
    command: npm run start:server:prod
    healthcheck:
      test: ['executable', 'arg']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
    ports:
      - '9000:9000'
    networks:
      - social-network

  # =====================================================
  # 2. WORKER
  # =====================================================
  social-worker:
    container_name: social-worker
    image: 664418987796.dkr.ecr.ap-southeast-1.amazonaws.com/liemdev/social:latest
    restart: always
    command: npm run start:worker:prod
    healthcheck:
      test: ['executable', 'arg']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
    networks:
      - social-network

  # =====================================================
  # 3. REDIS - Elastic Cache AWS
  # =====================================================

# =====================================================
# VOLUMES & NETWORKS
# =====================================================

networks:
  social-network:
    driver: bridge
