services:
  # =====================================================
  # 1. BACKEND
  # =====================================================
  social-be:
    container_name: social-be
    # image: 664418987796.dkr.ecr.ap-southeast-1.amazonaws.com/liemdev/social:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    command: npm run start:server:prod
    healthcheck:
      test: ['CMD', 'arg']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
    ports:
      - '9000:9000'
    networks:
      - social-network

  # =====================================================
  # 2. WORKER
  # =====================================================
  social-worker:
    container_name: social-worker
    # image: 664418987796.dkr.ecr.ap-southeast-1.amazonaws.com/liemdev/social:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    command: npm run start:worker:prod
    healthcheck:
      test: ['CMD', 'arg']
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    env_file:
      - .env
    networks:
      - social-network

  # =====================================================
  # 3. REDIS - Elastic Cache AWS
  # =====================================================
  social-redis:
    container_name: social-redis
    image: redis:7.0.11-alpine
    restart: always
    ports:
      - '6379:6379'
    networks:
      - social-network

# =====================================================
# VOLUMES & NETWORKS
# =====================================================

networks:
  social-network:
    driver: bridge
