<html>
  <head>
    <meta charset='utf-8' />
    <title>Xác minh tài khoản</title>
  </head>
  <body>
    <h1>Xin chào {{name}}!</h1>
    <p>Cảm ơn bạn đã đăng ký tài khoản.</p>
    <a href='{{url}}'>Vui lòng nhấn vào link này để hoàn tất xác minh email của bạn.</a>
  </body>
</html>